<IfModule mod_headers.c>
    SetEnvIf Origin "^(.*)$" ORIGIN_SUB=$1
    Header always set Access-Control-Allow-Origin "%{ORIGIN_SUB}e" env=ORIGIN_SUB
    Header always set Access-Control-Allow-Credentials "true" env=ORIGIN_SUB
    Header always set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS, HEAD"
    Header always set Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With, Accept, Origin, Cache-Control, Pragma, X-User-Id, X-User-Role, X-Client-Id, X-Department-Id"
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_METHOD} OPTIONS
    RewriteRule ^(.*)$ $1 [R=204,L]
</IfModule>
